################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChattingInterfaces/bin/Debug
/ChattingInterfaces/obj/Debug
/ChattingInterfaces/obj/Release
/ChattingInterfaces/Properties
/ChattingInterfaces
/ChattingServer/bin/Debug
/ChattingServer/obj
/ChattingUI/obj/Debug
/ChattingUI/obj/Release
/ChattingUI/bin/Debug
